ion-list {
    background: inherit;
}

ion-item {
    --border-radius: 64px;
    --background: var(--ion-color-light);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}