<ion-header>
    <ion-toolbar color="favorite">
        <ion-button fill="clear" (click)="openmenu('first')" slot="start" color='dark'>
            <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-title>Registro de Operación</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="presentAlert()" color="dark">
                <ion-icon name="exit"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="paso">
        <ion-item>
            <ion-label class="ion-text-wrap ion-text-center">Presiona la siguiente imagen para leer el código QR de la maquina</ion-label>
        </ion-item>

        <ion-row class="ion-justify-content-center">
            <ion-col size="6" class="ion-text-center">
                <ion-icon name="qr-code" class="qricon" (click)="initscan()"></ion-icon>
            </ion-col>
        </ion-row>
    </ng-container>

    <ng-container *ngIf="paso2">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Inicio de Operación</ion-card-title>
            </ion-card-header>
            <ion-item>
                <ion-label>Clave: {{ codigoequipo }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label>Nombre: {{ nombreequippo }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label>Obra: {{ nombreobra }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label>Fecha: {{ fecha }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label>Inicio: {{ hora }}</ion-label>
            </ion-item>
        </ion-card>
    </ng-container>


    <ion-list *ngIf="paso3">
        <ion-item>
            <p>Inicio de Operación exitoso del equipo "{{ nombreequippo }}" ({{ codigoequipo }}) para Número de Obra "{{ clabe }}" de " {{ nombreobra }} " del dia {{ fecha }} a las {{ hora }}.</p>
        </ion-item>
        <ion-item>
            <p>Para registrar el Fin de Operación vuelva a escanear el código del Equipo.</p>
        </ion-item>
    </ion-list>

    <ng-container *ngIf="paso4">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Fin de Operación</ion-card-title>
            </ion-card-header>
            <ion-item>
                <ion-label>Clave: {{ codigoequipo }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label>Nombre: {{ nombreequippo }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label>Obra: {{ nombreobra }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position='stacked'>Horómetro:</ion-label>
                <ion-input [(ngModel)]="horometro" type="number" placeholder="Captura el horómetro de la maquinaria"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position='stacked'>Litros:</ion-label>
                <ion-input [(ngModel)]="litros" type="number" placeholder="Captura los litros de gasolina"></ion-input>
            </ion-item>

            <ion-grid>
                <ion-row class="ion-text-center">
                    <ion-col>Medidor de combustible</ion-col>
                </ion-row>
                <ion-row class="ion-text-center">
                    <ion-col>
                        <ion-img [src]="imagen"></ion-img>
                    </ion-col>
                    <ion-col>
                        <ion-row class='ion-no-padding'>
                            <ion-col class='ion-no-padding'>
                                <ion-button color='light' (click)="camimg(1)">
                                    <ion-icon name="arrow-up"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row class='ion-no-padding'>
                            <ion-col class='ion-no-padding'>
                                <ion-button color='light' (click)="camimg(-1)">
                                    <ion-icon name="arrow-down"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ng-container>
</ion-content>

<ion-footer no-shadow>
    <ion-toolbar position="bottom">
        <ion-button *ngIf="paso2" color="success" expand="block" (click)="save()">Registrar Inicio</ion-button>
        <ion-button *ngIf="paso3" color="medium" expand="block" (click)="cerrar()">Cerrar</ion-button>
        <ion-button *ngIf="paso4" color="danger" expand="block" (click)="finalizar()">Registrar Fin</ion-button>
    </ion-toolbar>
</ion-footer>